<IfModule mod_rewrite.c>
  RewriteEngine On

  # If the requested filename is not an existing file or directory, redirect to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
